.signupBody {
    height: 90vh;
    background-color: rgb(255, 250, 160);
    overflow: hidden;
    text-align: center;
}

.signupBody > * {
    text-align: left;
}

#signupForm {
    display: inline-block;
    margin: 10rem;
    padding: 10px 5px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(34,24,18);
    background-color: rgb(34,24,18);
    width: 500px;
}